/*.chart-container {*/
/*    display: flex;*/
/*    flex-direction: column;*/
/*    align-items: center;*/
/*    justify-content: center;*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    max-width: 800px;*/
/*    margin: 0 auto;*/
/*    padding: 1em;*/
/*    background: #f6f8fa;*/
/*    border: 1px solid #e1e4e8;*/
/*    border-radius: 4px;*/
/*    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);*/
/*}*/

/*.chart-container h2 {*/
/*    margin-bottom: 1em;*/
/*    color: #24292e;*/
/*    text-align: center;*/
/*}*/

.chart-container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    max-width: 600px;
    margin: 0 auto;
    padding: 1em;
    background: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15);
}

.chart-container h2 {
    margin-bottom: 1em;
    color: #24292e;
    text-align: center;
}

.year-input {
    position: absolute;
    top: 1em;
    right: 1em;
}

.year-input input {
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    padding: 0.5em;
}




