.chart-container {
    position: relative;
    left: 8%;
    max-width: 85%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-around;
    align-items: flex-start;
    width: 100%;
    height: auto;
    padding: 1em;
    background: #f6f8fa;
    border: 1px solid #e1e4e8;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    margin-top: 10px;
    margin-bottom: 10px;
}

.chart-container h2 {
    margin-bottom: 1em;
    color: #24292e;
    text-align: center;
}

.year-input {
    position: absolute;
    top: 1em;
    right: 1em;
}

.year-input input {
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    padding: 0.5em;
}

.year-input-bills {
    position: absolute;
    top: 1em;
    left: 1em;
}

.year-input-bills input {
    border: 1px solid #e1e4e8;
    border-radius: 4px;
    padding: 0.5em;
}

.chart-item {
    flex: 1 1 50%;
    max-width: 600px;
}

.pie-chart-container {
    margin-left: 60px;
}